.searcher-tabs {
  margin: 10px 0 0 10px;
}

.response {
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 10px;
  margin: 5px;
}

.SE-title {
  padding: 10px;
  margin: 5px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
